.log
.chm
.zip
.tmp
.dll
.exe
output
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
7z.dll
7z.exe
hhc.exe
resources/utorrent.chm
resources/version.txt